/Example/Pods/
/Example/build
/Example/Podfile.lock
Example/.idea
Example/Segmentify-Demo.xcodeproj/xcuserdata
Example/Segmentify-Demo.xcworkspace/xcuserdata
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
