<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278017438335-akhe08ufukcjqkakcrdo56e055rfpat0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278017438335-akhe08ufukcjqkakcrdo56e055rfpat0</string>
	<key>API_KEY</key>
	<string>AIzaSyCd7gdrpModuel9izNKIuwAz9JahfROiVg</string>
	<key>GCM_SENDER_ID</key>
	<string>278017438335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.segmentify.Segmentify-Demo-2</string>
	<key>PROJECT_ID</key>
	<string>sdk-push-server</string>
	<key>STORAGE_BUCKET</key>
	<string>sdk-push-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278017438335:ios:e31e529c21a3a75e7f454a</string>
	<key>DATABASE_URL</key>
	<string>https://sdk-push-server.firebaseio.com</string>
</dict>
</plist>